.content-container{
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  height: 30%;
  padding: 10px;
   /* -webkit-backdrop-filter: blur(10px);
  border-radius: 10%; */ 
}

.content {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1{ 
    font-family: Impact;
    font-weight: 500;
  }
  
  h1 .rock{ 
    color: #ffd6d6
  }
  
  h1 .paper {
    color: #fdf5d5
  }
  
  h1 .scissors { 
    color: #f6d6ff
  }
  
  h1 .lizard {
    color: #d8f4d8
  }
  
  h1 .spock{ 
    color: #7892bc
  }
  .link {
     background: white;
     height: 30%;
     width: 20%;
     margin-top: 10%; 
     color: black;
     border-radius: 10px;
     transition: background-color .2s;
  }
  .link:hover {
    background-color: lightgrey;
  }