
.gameBoard {
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height:90%;
    width:100%;
}
.scoreBoard {
    border: 1px solid black;
    height:200px;
    width: 400px;
}
.gamePieces {
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    justify-content:center;
    width:90%;
    margin-top: 2%;
    height:80%;
}
.gamePieces > div{
    border: 1px solid black;
    height:clamp(80px, 150px, 400px);
    width: clamp(80px, 150px, 400px);
    border-radius:50%;
    padding:1%;
    margin: 2%;
    display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
} 
/* .spock, .paper{
    align-self:start;
}
.rock {
    align-self:end;
} */

@media (max-width:384px) {
    .gameBoard {
        display:flex;
        flex-direction: column;
        align-content:center;
        align-items: center;
        text-align: center;
        height:90%;
        width:100%;
    }
    .scoreBoard {
        border: 1px solid black;
        height:20%;
        width: 80%;
    }
    .gamePieces {
        display: flex;
        align-content:center;
        justify-content: center;
       
        width:90%;
        margin-top: 2%;
        border: 1px solid black;
        height:60%;
    }
    .gamePieces > div{
        background-color: inherit;
        border: 1px solid black;
        height: 80px;
        width: 80px;
        border-radius:50%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}