
.gameBoard {
    display:flex;
    flex-direction: column;
    text-align: center;
    height:90%;
    width:100%;
}
.gamePieces {
    display: flex;
    flex-direction: row;
    height:100%;
    width:100%;
}
.gamePieces > div{
    background-color: black;
    border: 1px solid white;
    height: 40%;
    width: 20%;
} 