:root {
  /* background color */
  --light-bg-color: #FCD5CE;
  --dark-bg-color: #0D1821;
  --light-txt-color: #000000;
  --dark-txt-color: whitesmoke;
}
.App {
  text-align: center;
  background-color: #444446;
  color: var(--dark-txt-color);
  height: 100%;
}

.App-logo {
  height: 180px;
  pointer-events: none;
}

.App-header{ 
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************  Color Mode Button  *****************/
 /* #region Color Mode Button */
 .color-mode-section{ 
   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: 10px;
 }
 .app-light-mode {
   background-color: var(--light-bg-color);
   color:var(--light-txt-color)
 }
  .color-mode-container{
    border: 1px solid white;
    position:relative;
    height: 20px;
    width: clamp(45px, 50px ,60px);
    background-color: white;
    border-radius: 34px;
    margin-bottom: 7px;
  }
  .light-mode-container{ 
    background:grey;
  }
  .color-mode{
    transition: 240ms ease-in-out;
    background-color: grey;
    border-radius:50%;
    height: 100%;
    width:50%;
    cursor:pointer;
  }
  .light-mode{
    transform: translateX(24px);
    background-color: white;
  }
.color-mode-image{
  height: 28px;
  margin-top: -5px;
  display: inline-block;
}
/* #endregion Color Mode */
