:root {
  /* background color */
  --light-bg-color: #FCD5CE;
  --dark-bg-color: #0D1821;
}
.App {
  text-align: center;
  background-color: #444446;
}

.App-logo {
  height: 180px;
  pointer-events: none;
}

.App-header{ 
  padding: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.content {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{ 
  font-family: Impact;
  font-weight: 500;
}

h1 .rock{ 
  color: #ffd6d6
}

h1 .paper {
  color: #fdf5d5
}

h1 .scissors { 
  color: #f6d6ff
}

h1 .lizard {
  color: #d8f4d8
}

h1 .spock{ 
  color: #7892bc
}
/*************  Color Mode Button  *****************/
 /* #region Color Mode Button */
 .app-light-mode {
   background-color: var(---light-bg-color);
 }
  .color-mode-container{
    border: 1px solid white;
    position:relative;
    height: 2vh;
    width: clamp(55px, 60px ,70px);
    background-color: white;
    border-radius: 34px;
  }
  .light-mode-container{ 
    background:grey;
  }
  .color-mode{
    transition: 240ms ease-in-out;
    background-color: grey;
    border-radius:50%;
    height: 100%;
    width:40%;
    cursor:pointer;
   
  }
  .light-mode{
    transform: translateX(35px);
    background-color: white;
  }

/* #endregion Color Mode */
