:root {
  /* background color */
  --light-bg-color: #FCD5CE;
  --dark-bg-color: #0D1821;
  --light-txt-color: #000000;
  --dark-txt-color: whitesmoke;
}
.App {
  text-align: center;
  background: radial-gradient(#000000, #434343);
  color: var(--dark-txt-color);
  height: 100%;
}

.App-logo {
  height: 180px;
  pointer-events: none;
}

.App-header{ 
  padding: 10px;
  display:flex;
  justify-content: space-between;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*************  Color Mode Button  *****************/
 /* #region Color Mode Button */
 .color-mode-section{ 
   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: 10px;
 }
 .app-light-mode {
  background: radial-gradient(#e66465, #9198e5);
   color:var(--light-txt-color);
   height: 100%;
 }
  .color-mode-container{
    border: 1px solid white;
    position:relative;
    height: 20px;
    width: clamp(45px, 50px ,60px);
    
    border-radius: 34px;
    margin-bottom: 7px;
  }
  .light-mode-container{ 
    background:grey;
  }
  .color-mode{
    transition: 240ms ease-in-out;
    background-color: white;
    border-radius:50%;
    height: 100%;
    width:50%;
    cursor:pointer;
    
  }
  .light-mode{
    transform: translateX(24px);
    background-color: white;
  }
.color-mode-image{
  height: 28px;
  margin-top: -5px;
  display: inline-block;
}
/* #endregion Color Mode */

/*************  Rules Button  *****************/
/* #region Rules Button */
.rules-section{
  height: 30px;
  width:100px;
  display:flex;
  justify-content: center;
 
}
.rules-button{
  display:flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10%;
  width:80%;
  color:white;
  cursor:pointer;
}
.rules-button:hover{
  background:grey;
}

/* #endregion Rules Button */